*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
background-color: #9bc5c3;
}
nav ul li{
    display: inline;
    margin: 0px ;
    padding: 15px;
    float: right;
}